<div class="">
  <!-- background img -->
  <div class="absolute overflow-hidden top-0 right-0 left-0 bottom-0 m-auto -z-10"> <img src="bg-weather.jpg"
      class="object-cover w-full height-150per pointer-events-none" alt=""> </div>
  <div class="lg:container overflow-y-hidden px-5 mx-auto flex z-10 h-dvh justify-between flex-col md:flex-row ">
    <!-- left block -->
    <app-left-block (city)="changeCity($event)" [weather]="data"></app-left-block>
    <!-- right block -->
    <app-right-block class="overflow-y-scroll overflow-x-hidden hidden-scroll" (city)="changeCity($event)"
      [weather]="data"></app-right-block>
  </div>
</div>